/****************CLASS SELECTORS****************/

.attribution {
    color: #FFA500;
    display: block;
    width: 100%;
    font-size: 12px;
    text-decoration: none;
}

.attribution:hover {
    text-decoration: underline;
}

.btn {
    background: #FFA500;
    background-image: -webkit-linear-gradient(top, #FFA500, #FFA500);
    background-image: -moz-linear-gradient(top, #FFA500, #FFA500);
    background-image: -ms-linear-gradient(top, #FFA500, #FFA500);
    background-image: -o-linear-gradient(top, #FFA500, #FFA500);
    background-image: linear-gradient(to bottom, #FFA500, #FFA500);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    position: relative;
    text-decoration: none;
    top: 35px;
  }
  
  .btn:hover {
    background: #1F4690;
    background-image: -webkit-linear-gradient(top, #1F4690, #3A5BA0);
    background-image: -moz-linear-gradient(top, #1F4690, #3A5BA0);
    background-image: -ms-linear-gradient(top, #1F4690, #3A5BA0);
    background-image: -o-linear-gradient(top, #1F4690, #3A5BA0);
    background-image: linear-gradient(to bottom, #1F4690, #3A5BA0);
    text-decoration: none;
  }

.coding-img {
    float: left;
    height: auto;
    margin-bottom: 120px;
    margin-right: 45px;
    width: 30%;
}

.contact-me {
    margin-bottom: 100px;
}

.copyright {
    font-size: .75rem;
    margin: 25px auto 0px auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    background-color: #FEE2C5;
    padding-top: 20px;
    padding-bottom: 25px;
    
}

.footer-link {
    color: #FFA500;
    margin: 25px 15px 15px 15px;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.links {
    display: inline-block;
    margin: 25px auto 25px auto;
    
}

.lower-fish {
    text-align: left;
    margin: 75px auto auto 120px;
}

.profile-p {
    width: 25%;
}

.profile-img {
    border-radius: 100%;
    height: auto;
    margin: 75px auto 20px auto;
    width: 13%;
}

.skill-heading {
    font-family: 'Open Sans', sans-serif;
}

.skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 35%;
}

.soft-skills-img {
    float: right;
    height: auto;
    margin: auto auto 50px 45px;
    width: 30%;
}

.subtitle {
    color: white;
    font-style: italic;
}

.title-text {
    font-family: 'Satisfy', sans-serif;
    font-size: 100px;
    margin: 0 auto 75px auto;
}

.upper-fish {
    text-align: right;
    margin-right: 250px;
}

.top-container {
    background-color: #3A5BA0;
    color: white;
    padding-bottom: 100px;
    padding-top: 100px;
}

/****************ELEMENT SELECTORS****************/

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
}

h3 {
    color: #3A5BA0;
    font-family: 'Merriweather', serif;
    font-size: 22px;
}

hr {
    border-top: 7px dotted gray;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    margin: 130px auto 130px auto;
    width: 9%;
}

p {
    font-family: 'Merriweather', serif;
    font-weight: 850;
    font-size: 16px;
    line-height: 2;
    margin: 10px auto 60px auto;
}
